slide {
    background: #2B2B2B radial-gradient(circle farthest-corner at center center , #555A5F 0%, #1C1E20 100%) repeat scroll 0% 0%;
}

.prettyprint {
    display: block;
    padding: 9.5px;
    margin: 0px 60px 10px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 4px;
}

slides > slide.title-slide h1, 
slides > slide.title-slide h2, 
slides > slide.title-slide p, 
slides > slide h2,
slides > slide h3,
slides > slide p,
slides > slide ul,
slides > slide ol, 
slides > slide li{
    color: #FFFFFF;
}

.dygraphs {
    max-width: 100%;
}

